### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

/src/main/resources/application.yml
/src/main/resources/application-oauth.yml
/src/test/java/com/bandall/location_share/domain
/src/test/resources
.gradle
gradle
build